.contact{

padding:120px 8%;

background:#f8f4ef;

}

.contact-heading{

text-align:center;

margin-bottom:70px;

}

.contact-heading span{

letter-spacing:3px;

color:#9c7653;

font-weight:600;

}

.contact-heading h2{

font-size:54px;

margin:20px 0;

font-family:'Playfair Display',serif;

color:#3b2a22;

}

.contact-heading p{

max-width:650px;

margin:auto;

line-height:1.8;

color:#666;

}

.contact-wrapper{

display:grid;

grid-template-columns:1fr 1fr;

gap:40px;

}

.contact-info{

display:flex;

flex-direction:column;

gap:25px;

}

.info-card{

display:flex;

align-items:center;

gap:20px;

background:white;

padding:25px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

transition:.3s;

}

.info-card:hover{

transform:translateY(-8px);

}

.info-card svg{

font-size:28px;

color:#8d6c4c;

}

.contact-social{

display:flex;

flex-direction:column;

justify-content:center;

gap:25px;

}

.contact-social a{

background:#8d6c4c;

color:white;

padding:20px;

border-radius:18px;

display:flex;

align-items:center;

gap:15px;

font-size:18px;

transition:.3s;

}

.contact-social a:hover{

background:#684936;

}

@media(max-width:900px){

.contact-wrapper{

grid-template-columns:1fr;

}

.contact-heading h2{

font-size:40px;

}

}
@media(max-width:768px){

.contact-wrapper{

grid-template-columns:1fr;

}

.contact-heading h2{

font-size:34px;

}

.contact-social{

margin-top:30px;

}

}