.container{

max-width:1300px;

margin:auto;
}

.title{

font-size:48px;

font-family:'Playfair Display',serif;

margin-bottom:20px;

color:#3b2b22;
}

.subtitle{

font-size:18px;

line-height:1.8;

color:#5d5d5d;
}

.btn{

padding:15px 35px;

border-radius:40px;

border:none;

cursor:pointer;

font-size:16px;

font-weight:600;

transition:.4s;
}

.primary{

background:#7a5c48;

color:white;
}

.primary:hover{

background:#5d4333;
}

.secondary{

background:white;

border:1px solid #7a5c48;

color:#7a5c48;
}

.secondary:hover{

background:#7a5c48;

color:white;
}